@import '../../Styles/variables.scss';
.options-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

.log-away{
    padding-top: -5%;
}

.add-fav-activities{
    //padding-top: 3%;

}
    

.divider{
    border: 1px solid $primary-brown;
    opacity: 0.2;
    margin-top: 5%;

}

.favorite-activities{
    margin-top: 40px;
    background-color: $primary-beige-light;
}

.journal-body{
    background-color: $primary-beige-light;
}

